body{
    font-family: Verdana;
    font-size: 16px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

a{
    color: white;
    text-decoration: none;
}

/*colors*/
.bgcolor-blue{
    background-color: #218380;
}

.text-col-white{
    color: white;
}

/*nav bar*/
.navbar{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    height: auto;
}

/*card*/
.card{
    border: 2px solid lightgray;
    border-radius: 1rem;
    padding: 2%;
    box-shadow: 3px 4px 4px lightgrey;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute; */
}

.btn-fonts{
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.option-container{
    display: flex;
    flex-wrap: wrap;
}

.btn-option{
    width: 100%;
    margin: 2px;
}

.hidesection{
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
}

.padding-1{
    padding: 1rem;
}
